 html {
  scroll-behavior: smooth;
}
body{
   background-color: rgb(0, 0, 0);
}
a {
  scroll-margin-top: 100px; 
  scroll-behavior: smooth;
}
*{
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*obviousli header*/
header{
    width: 200px;
    height: 100vh;
    
}
header img{
    width: 125px;
    position: absolute;
    padding: 25px 30px;
} 
/*nav-bar*/
.menu-list {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    list-style: none;
    margin: 0;
    padding: 4.074vh 0;
    position: fixed;
    top: 0;
    width: 100%;
    left: 20px;
    top: 250px; 
    z-index: 1; 
}

.menu-list li {
    padding: 15px;
    list-style: none;
    flex-direction: column;
}

.menu-list li a {
    text-decoration: none;
    transition: all 0.5s ease;
}

.menu-list li a:hover {
    font-size: 18px;
    padding: 7px 9px;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-weight: bold;
}
#menu-toggle {
    font-size: 30px;
    display: block;
    position: fixed;
    top: 200px;
    left: 20px;
    cursor: pointer;
    z-index: 2; 
}
/*home page*/
/*father item*/
.hantu0{
    display: flex;
    margin-top: -200px;
    
}
/*h1*/
.hantu1{
   position: absolute;
   font-size: 50px;
   top: 300px;
   left: 250px;
}
/*the image*/
.hantu2{
    width: 490px;
    position:absolute;
    top: 80px;
    left: 850px;
}
/*what is page*/
#death{
    margin-top: 50px;
    margin-bottom: 100px;
    padding-top: 80px;
    position: relative;
    top: 200px;
}
#death h2{
    font-size: 75px;
    position: absolute;
    top: 100px;
    left: 300px;
}
#death p{
    font-size: 24px;
    position: absolute;
    top:300px;
    left: 280px;
}
#death h4{
    font-size: 75px;
    position: absolute;
    top:400px;
    left: 300px;
}
#death a{
    text-decoration: none;
    font-size: 24px;
    position: absolute;
    top:600px;
    left: 280px;
}
#death img{
    width: 350px;
    padding-left: 900px;
    padding-top: -10;
}
/*profile*/
#life{
    padding-top: 250px;
    position: relative;
    top: 100px;
}
#life h2{
    font-size: 75px;
    position: absolute;
    top: 200px;
    left: 300px;
}
#life p{
    font-size: 24px;
    position: absolute;
    top:400px;
    left: 280px;
}
#life a{
    text-decoration: none;
    font-size: 24px;
    position: absolute;
    top:600px;
    left: 280px;
}
#life img{
    width: 450px;
    padding-left: 900px;
    padding-bottom: 50px;
}
/*certi*/
#reincarnation{
    margin-top: 250px;
    padding-bottom:200px ;
    display: flex;
    padding-top:8% ;
}
.card {
    background-color: rgb(68, 68, 68);
    box-shadow: 0 4px 8px 0 rgba(25, 25, 25);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin: 40px 0px 0px 80px;
    padding-left: 25px;
    padding-top: 20px;
  }
img {
    padding-left: 75px;
    width: 75%;
    border-radius: 5px 5px 0 0;
  }
.rein{
    text-align: center;
    padding: 2px 16px;
    padding-bottom: 20px;
  }
.god-feet{
    margin-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}